<footer>
    <div class="footer fwb">        
        <div class="footer__container container">
            <div class="row  g-0 d-flex  align-items-center justify-content-start footer__container__row" >
                <div class="col-sm col-xxl-3 col-xl-2 col-lg-3 col-md-2  d-flex justify-content-center align-items-center">
                    <a [routerLink]="'/home'" (click)="scrollbarTop()">
                        <img class="footer__container__row__img justify-content-center" src="assets/img/abstract_beezzz.png" alt="Frame showing the honey bee queen and worker bees during a live honey bee removal, illustrating the safe relocation process to protect the hive and ensure bee safety" title="Live Honey Bee Removal and Relocation"  />
                    </a>
                </div>
                <div class="col-sm col-xxl-3 col-xl-3 col-lg-2 col-md-2 footer__container__row__links ">
                    <p class="pink-color footer__container__row__links__p d-flex justify-content-center align-items-center">
                        Quick Links
                    </p>
                    <ul class="footer__container__row__links__ul justify-content-center align-items-center" (click)="scrollbarTop()">
                        <li class="footer__container__row__links__ul__li d-flex justify-content-center align-items-center" [routerLink]="'/about-us'" >About Us</li>
                        <li class="footer__container__row__links__ul__li d-flex justify-content-center align-items-center" [routerLink]="'/services'">Services</li>
                        <li class="footer__container__row__links__ul__li d-flex justify-content-center align-items-center" [routerLink]="'/contact'">Contact Us</li>
                        <li class="footer__container__row__links__ul__li d-flex justify-content-center align-items-center" [routerLink]="'/gallery'">Gallery</li>
                        <li class="footer__container__row__links__ul__li d-flex justify-content-center align-items-center" [routerLink]="'/blogs'">Blog</li> 
                    </ul>              
                </div>
                <div class="col-sm footer__container__row__contact col-xxl-3 col-xl-4 col-lg-4 col-md-5  ">
                    <a href="tel:+17724862688">
                        <i class="bi bi-telephone footer__container__row__i pink-color"></i>
                    </a>
                    <p class="footer__container__row__contact__num">&nbsp; 
                        <a class="footer__container__row__contact__num__a" href="tel:+17724862688">772-486-2688</a>
                    </p><br>
                    <a href="tel:+1772-779-1594">
                        <i class="bi bi-telephone footer__container__row__i pink-color"></i>
                    </a>
                    <p class="footer__container__row__contact__num">&nbsp; 
                        <a class="footer__container__row__contact__num__a" href="tel:+1772-779-1594">772-779-1594 para Español</a>
                    </p> <br>
                    <a [href]="'https://api.whatsapp.com/send/?phone=17727791594&text=' + whatsappMessage" target="_blank" >
                        <i class="bi bi-whatsapp footer__container__row__i pink-color"></i>
                    </a>
                    <a href="https://www.instagram.com/abstractbeezzz" target="_blank">
                        <i class="bi bi-instagram footer__container__row__i pink-color"></i>
                    </a>
                    <a href="mailto:abstractbeezzz@gmail.com?subject=Request%20for%20Live%20Honey%20Bee%20Removal&body=Name%3A%0ATelephone%3A%0AEmail%3A%0AAddress%3A%0ADescribe%20the%20situation%3A"  >
                        <i class="bi bi-envelope footer__container__row__i pink-color"></i>
                    </a>
                </div>
                <div class="col-sm col-xxl-3 col-xl-3 col-lg-3 col-md-3 footer__container__row__location">
                    <i class="bi bi-geo-alt-fill pink-color"></i>
                    Martin County,<br> Port Saint Lucie County<br>and Palm Beach County
                </div>
                <div class="container" >
                    <div class="row  d-flex justify-content-center align-items-center">
                        <div class="col-6 d-flex justify-content-center align-items-center footer__container__row__policy">
                            © 2024 Abstract Beezzz LLC
                        </div>
                        <div class="col-6 d-flex justify-content-center align-items-center footer__container__row__policy__a"  >
                            <a routerLink="/privacy-policy" class="footer__container__row__policy__a" (click)="scrollbarTop()">Privacy Policy</a>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-0 d-flex justify-content-center text-center align-items-center footer__container__row__tablet">
                <div class="row footer__container__row__tablet__imagen ">    
                    <div class="col-sm-12 ">
                        <a [routerLink]="'/home'" (click)="scrollbarTop()">
                            <img class="footer__container__row__tablet__img " src="assets/img/abstract_beezzz.png" alt="Frame showing the honey bee queen and worker bees during a live honey bee removal, illustrating the safe relocation process to protect the hive and ensure bee safety" title="Live Honey Bee Removal and Relocation"  >
                        </a>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-sm-6">
                        <p class="pink-color footer__container__row__tablet__links__p d-flex justify-content-center align-items-center">
                            Quick Links
                        </p>
                        <ul class="footer__container__row__links__ul justify-content-center align-items-center" (click)="scrollbarTop()">
                            <li class="footer__container__row__links__ul__li d-flex justify-content-center align-items-center" [routerLink]="'/about-us'" >About Us</li>
                            <li class="footer__container__row__links__ul__li d-flex justify-content-center align-items-center" [routerLink]="'/services'">Services</li>
                            <li class="footer__container__row__links__ul__li d-flex justify-content-center align-items-center" [routerLink]="'/contact'">Contact Us</li>
                            <li class="footer__container__row__links__ul__li d-flex justify-content-center align-items-center" [routerLink]="'/gallery'">Gallery</li>
                            <li class="footer__container__row__links__ul__li d-flex justify-content-center align-items-center" [routerLink]="'/blogs'">Blog</li> 
                        </ul>  
                    </div>
                    <div class="col-sm-6  footer__container__row__tablet_contact justify-content-center align-items-center">
                        <a  href="tel:+17724862688">  
                            <i class="bi bi-telephone footer__container__row__i pink-color"></i>
                        </a> 
                        <p class="footer__container__row__contact__num">&nbsp; 
                            <a class="footer__container__row__contact__num__a" href="tel:+17724862688">772-486-2688</a>
                        </p><br>
                        <div class="footer__container__row__contact__num justify-content-center align-items-center " >      
                            <a href="tel:+1772-779-1594"> 
                                <i class="bi bi-telephone footer__container__row__i pink-color"></i>       
                            </a>           
                            <p class="footer__container__row__tablet__contact__num">&nbsp;
                                <a class="footer__container__row__contact__num__a" href="tel:+1772-779-1594 ">772-779-1594</a>  
                            </p>
                            <p class="footer__container__row__tablet__contact__num__es pink-color">  para Español</p>
                            <a [href]="'https://api.whatsapp.com/send/?phone=17727791594&text=' + whatsappMessage" target="_blank" >
                               <i class="bi bi-whatsapp footer__container__row__i pink-color"></i>
                            </a>
                        <a href="https://www.instagram.com/abstractbeezzz" target="_blank">
                            <i class="bi bi-instagram footer__container__row__i pink-color"></i>
                        </a>
                        <a href="mailto:abstractbeezzz@gmail.com?subject=Request%20for%20Live%20Honey%20Bee%20Removal&body=Name%3A%0ATelephone%3A%0AEmail%3A%0AAddress%3A%0ADescribe%20the%20situation%3A"  >
                            <i class="bi bi-envelope footer__container__row__i pink-color"></i>   
                        </a>
                        </div>
                                 

                    </div>
                </div>                   
                <div class="row"  >
                    <div class="col-12 footer__container__row__tablet__location  justify-content-center align-items-center">
                        <p class="pink-color">
                            Service Area
                        </p>
                        <i class="bi bi-geo-alt-fill pink-color"></i>
                        Martín County,<br> Port Saint Lucie County<br>and Palm Beach County
                    </div>
                </div>                   
                <div class="container" >
                    <div class="row  d-flex justify-content-center align-items-center">
                        <div class="col-6 d-flex justify-content-center align-items-center footer__container__row__policy">
                            © 2024 Abstract Beezzz LLC
                        </div>
                        <div class="col-6 d-flex justify-content-center align-items-center footer__container__row__policy__a"  >
                            <a class="footer__container__row__policy__a" routerLink="/privacy-policy" (click)="scrollbarTop()">Privacy Policy</a>       
                        </div>    
                    </div>
                </div>                
            </div>            
            <div class="row  g-0 d-flex justify-content-center text-center align-items-center footer__container__row__cell">
                <div class="col-sm-12">
                    <a [routerLink]="'/home'" (click)="scrollbarTop()">
                        <img class="footer__container__row__cell__img" src="assets/img/abstract_beezzz.png" alt="Frame showing the honey bee queen and worker bees during a live honey bee removal, illustrating the safe relocation process to protect the hive and ensure bee safety" title="Live Honey Bee Removal and Relocation" >
                    </a>
                </div> 
                <div class="row" style="padding: 0px;">
                    <div class="col-12">
                        <p class="pink-color footer__container__row__cell__links__p d-flex justify-content-center align-items-center">
                            Quick Links
                        </p>
                        <ul class="footer__container__row__cell__links__ul justify-content-center align-items-center" (click)="scrollbarTop()">
                            <li class="footer__container__row__links__ul__li d-flex justify-content-center align-items-center" [routerLink]="'/about-us'" >About Us</li>
                            <li class="footer__container__row__links__ul__li d-flex justify-content-center align-items-center" [routerLink]="'/services'">Services</li>
                            <li class="footer__container__row__links__ul__li d-flex justify-content-center align-items-center" [routerLink]="'/contact'">Contact Us</li>
                            <li class="footer__container__row__links__ul__li d-flex justify-content-center align-items-center" [routerLink]="'/gallery'">Gallery</li>
                            <li class="footer__container__row__links__ul__li d-flex justify-content-center align-items-center" [routerLink]="'/blogs'">Blog</li> 
                        </ul>  
                    </div>
                    <div class="col-12  footer__container__row__cell__contact justify-content-center align-items-center">
                        <a href="tel:+17724862688">
                            <i class="bi bi-telephone footer__container__row__i pink-color"></i>
                        </a>
                        <p class="footer__container__row__contact__num">&nbsp; 
                            <a class="footer__container__row__contact__num__a" href="tel:+17724862688">772-486-2688</a>
                        </p><br> 
                        <div class="footer__container__row__contact__num justify-content-center align-items-center " >        
                            <a href="tel:+1772-779-1594"> 
                                <i class="bi bi-telephone footer__container__row__i pink-color"></i>       
                            </a>            
                            <p class="footer__container__row__cell__contact__num">&nbsp; 
                                <a class="footer__container__row__contact__num__a" href="tel:+1772-779-1594 ">772-779-1594</a>
                            </p>
                            <p class="footer__container__row__cell__contact__num__es pink-color">  para Español</p>
                            <a [href]="'https://api.whatsapp.com/send/?phone=17727791594&text=' + whatsappMessage" target="_blank" >
                                <i class="bi bi-whatsapp footer__container__row__i pink-color"></i>
                            </a>
                               
                        <a  href="https://www.instagram.com/abstractbeezzz" target="_blank">
                            <i class="bi bi-instagram footer__container__row__i pink-color"></i>
                        </a>    
                        <a href="mailto:abstractbeezzz@gmail.com?subject=Request%20for%20Live%20Honey%20Bee%20Removal&body=Name%3A%0ATelephone%3A%0AEmail%3A%0AAddress%3A%0ADescribe%20the%20situation%3A" >
                            <i class="bi bi-envelope footer__container__row__i pink-color"></i>   
                        </a>
                        </div>
                                 

                    </div>
                </div>   
               
                <div class="col-12 footer__container__row__cell__location justify-content-center text-center align-items-center">
                    <p class="pink-color">
                        Service Area
                    </p>
                    <i class="bi bi-geo-alt-fill pink-color"></i>
                    Martin County, <br>Port Saint Lucie County<br>and Palm Beach County 
                </div>
                <div class="container" >
                    <div class="row  d-flex justify-content-center align-items-center">
                        <div class="col-12 d-flex justify-content-center align-items-center footer__container__row__policy">
                            © 2024 Abstract Beezzz LLC
                        </div>
                        <div class="col-12 d-flex justify-content-center align-items-center footer__container__row__policy"  >
                           <a class="footer__container__row__policy__a" routerLink="/privacy-policy" (click)="scrollbarTop()">Privacy Policy</a>      
                        </div>    
                    </div>
                </div> 
            </div>                    
        </div>
    </div> 
</footer>
