.active-link{
    text-decoration: underline;
}

.nav-link {
    cursor: pointer;
}

.sidebar{
    background-color: #f0cede !important;
    height: 100vh;

}

.header-admin{
    background-color: #FE007E;
    width: 100%;
    height: 100px;
}

.nav-link{
    color: #FE007E;

}

.img-bee{
    width: 100%;
    height: 80px;
    margin: auto;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 50px;
}

.p0{
    padding-left: 0px;
    padding-right: 0px;
}