<header>
    <div class="header">        
        <div class="header__container">
            <div class="row  g-0 d-flex justify-content-center text-center align-items-center header__container__row" >
                <div class="col-sm col-xxl-3 col-lg-2 col-md-2">
                    <a [routerLink]="'/home'">
                        <img class="header__container__row__img" src="assets/img/abstract_beezzz.png" alt="Frame showing the honey bee queen and worker bees during a live honey bee removal, illustrating the safe relocation process to protect the hive and ensure bee safety" title="Live Honey Bee Removal and Relocation" />
                    </a>
                </div>
                <div class="col-sm col-xxl-3 col-lg-3 col-md-4 header__container__row__location">
                    <i class="bi bi-geo-alt-fill pink-color"></i>            
                    Martin County,<br>Port Saint Lucie County<br>and Palm Beach County
                </div>
                <div class="col-sm pink-color header__container__row__i col-xxl-2 col-xl-2 col-lg-2 col-md-2" >
                    <a href="https://api.whatsapp.com/send/?phone=17727791594&text={{ whatsappMessage }}" target="_blank"  class="header__container__row__i__a">
                        <i class="bi bi-whatsapp header__container__row__i" ></i>
                    </a>                
                    <a href="https://www.instagram.com/abstractbeezzz" target="_blank"  class="header__container__row__i__a">    
                        <i class="bi bi-instagram  header__container__row__i "></i>
                    </a>
                    <a href="mailto:abstractbeezzz@gmail.com?subject=Request%20for%20Live%20Honey%20Bee%20Removal&body=Name%3A%0ATelephone%3A%0AEmail%3A%0AAddress%3A%0ADescribe%20the%20situation%3A"  class="header__container__row__i__a"> 
                        <i class="bi bi-envelope header__container__row__i"></i>
                    </a>
                    <a class="header__container__row__contact__num__a" href="tel:+17724862688" class="header__container__row__i__a">
                        <i class="bi bi-telephone header__container__row__i"></i>
                    </a>
                </div>
                <div class="col-sm header__container__row__contact col-xxl-4 col-lg-4 col-md-4">
                    <p class=" header__container__row__contact__free pink-color">Contact Us for a Free estimate</p>
                    <div class="header__container__row__contact__num" >
                        <p class="header__container__row__contact__num">
                            <a class="header__container__row__contact__num__a" href="tel:+17724862688">772-486-2688</a>
                             / <a class="header__container__row__contact__num__a" href="tel:+1772-779-1594 ">772-779-1594</a></p>
                        <p class="header__container__row__contact__num__es pink-color">para Español</p>
                    </div>
                </div>
            </div>
            <div class="row g-0 d-flex justify-content-center text-center align-items-center header__container__row__tablet">
                <div class="col-sm-12">
                    <a [routerLink]="'/home'">
                        <img class="header__container__row__tablet__img" src="assets/img/abstract_beezzz.png" alt="Frame showing the honey bee queen and worker bees during a live honey bee removal, illustrating the safe relocation process to protect the hive and ensure bee safety" title="Live Honey Bee Removal and Relocation" >
                    </a>
                </div>
                <div class="col-sm-12 header__container__row__tablet__contact">
                    <p class=" header__container__row__tablet__contact__free pink-color">Contact Us for a Free estimate</p>
                    <div class="header__container__row__tablet__contact__num" >
                        <p class="header__container__row__tablet__contact__num">
                            <a class="header__container__row__contact__num__a" href="tel:+17724862688">772-486-2688</a>
                            / <a class="header__container__row__contact__num__a" href="tel:+1772-779-1594 ">772-779-1594</a></p>
                        <p class="header__container__row__tablet__contact__num__es pink-color">para Español</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-6 pink-color ">
                        <a href="https://api.whatsapp.com/send/?phone=17727791594&text={{ whatsappMessage }}" target="_blank"  class="header__container__row__tablet__i__a">
                            <i class="bi bi-whatsapp header__container__row__tablet__i" ></i>
                        </a>
                        <a href="https://www.instagram.com/abstractbeezzz" target="_blank" class="header__container__row__tablet__i__a" >
                            <i class="bi bi-instagram  header__container__row__tablet__i "></i>
                        </a>
                        <a href="mailto:abstractbeezzz@gmail.com?subject=Request%20for%20Live%20Honey%20Bee%20Removal&body=Name%3A%0ATelephone%3A%0AEmail%3A%0AAddress%3A%0ADescribe%20the%20situation%3A"  class="header__container__row__tablet__i__a"> 
                            <i class="bi bi-envelope header__container__row__tablet__i"></i>
                        </a>
                        
                        <a class="header__container__row__contact__num__a" href="tel:+17724862688" class="header__container__row__tablet__i__a">
                            <i class="bi bi-telephone header__container__row__tablet__i"></i>
                        </a>
                         
                        
                    </div>
                    <div class="col-sm-6 header__container__row__tablet__location">
                        <i class="bi bi-geo-alt-fill pink-color"></i>
                        Martin County, <br>Port Saint Lucie County<br>and Palm Beach County
                    </div>
                </div>

                
            </div>
            <div class="row  g-0 d-flex justify-content-center text-center align-items-center header__container__row__cell">
                <div class="col-sm-12">
                    <a [routerLink]="'/home'">
                        <img class="header__container__row__cell__img" src="assets/img/abstract_beezzz.png" alt="Frame showing the honey bee queen and worker bees during a live honey bee removal, illustrating the safe relocation process to protect the hive and ensure bee safety" title="Live Honey Bee Removal and Relocation"  >
                    </a>
                </div> 
                <div class="col-sm-12 header__container__row__cell__contact">
                    <p class=" header__container__row__cell__contact__free pink-color">Contact Us for a</p>
                    <p class=" header__container__row__cell__contact__free pink-color">Free estimate</p>
                    <div class="header__container__row__cell__contact__num" >
                        <p class="header__container__row__cell__contact__num__one">
                            <a class="header__container__row__contact__num__a" href="tel:+17724862688">772-486-2688</a>
                        </p>
                        <p class="header__container__row__cell__contact__num__two">
                            <a class="header__container__row__contact__num__a" href="tel:+1772-779-1594 ">772-779-1594</a>
                        </p>
                        <p class="header__container__row__cell__contact__num__es pink-color">para Español</p>
                    </div>
                </div>
                <div class="col-12 pink-color " style="padding-left: 2em;">
                    <a href="https://api.whatsapp.com/send/?phone=17727791594&text={{ whatsappMessage }}" target="_blank"  class="header__container__row__cell__i__a">
                        <i class="bi bi-whatsapp header__container__row__tablet__i" ></i>
                    </a>
                    <a href="https://www.instagram.com/abstractbeezzz" target="_blank" class="header__container__row__cell__i__a">
                        <i class="bi bi-instagram header__container__row__cell__i "></i>
                    </a>
                    <a href="mailto:abstractbeezzz@gmail.com?subject=Request%20for%20Live%20Honey%20Bee%20Removal&body=Name%3A%0ATelephone%3A%0AEmail%3A%0AAddress%3A%0ADescribe%20the%20situation%3A"  class="header__container__row__cell__i__a"> 
                        <i class="bi bi-envelope header__container__row__cell__i"></i>
                    </a>
                    <a class="header__container__row__contact__num__a" href="tel:+17724862688" class="header__container__row__cell__i__a">
                        <i class="bi bi-telephone header__container__row__tablet__i"></i>
                    </a>
                  
                  
                </div>
                <div class="col-12 header__container__row__cell__location  justify-content-center text-center align-items-center">
                    <i class="bi bi-geo-alt-fill pink-color"></i>
                    Martin County,<br>Port Saint Lucie County<br>and Palm Beach County
                </div>
               
            </div>
        </div>
    </div>  
</header>
