<div class="banner">        
    <ng-container>
        <div class="banner__blog" 
            [ngStyle]="{ 'background-image': 'url(' + bannerImage + ')' }">
            <div class="banner__blog__text">
            
            </div>
            
        </div>
        <h1 class="banner__blog__text__h1 pink-color" [innerHTML]="" style="text-align: center; width: 80%; margin: auto;"> Oops! This page doesn’t exist in our hive. Buzz back to the homepage and keep exploring the honeycomb of our site!  <a routerLink="/" class="banner__blog__text__h1 pink-color"  style=" text-align: center; width: 80%; margin: auto; ">Return to the home page</a></h1>
       
    </ng-container>
</div>