

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 400px;">
        <div class="text-center">
            <img 
                src="assets/img/abstract_beezzz.png" 
                alt="Frame showing the honey bee queen and worker bees during a live honey bee removal, illustrating the safe relocation process to protect the hive and ensure bee safety" 
                title="Live Honey Bee Removal and Relocation"
                width="100%" />
        </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Campo Usuario -->
        <div class="form-group mb-3">
          <label for="username" class="form-label">Usuario</label>
          <input 
            type="text" 
            id="username" 
            class="form-control" 
            formControlName="username" 
            placeholder="Ingresa tu usuario">
          <p 
            class="text-danger" 
            *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
            <small *ngIf="loginForm.get('username')?.errors?.['required']">Username is required</small>
          </p>
        </div>
  
        <!-- Campo Contraseña -->
        <div class="form-group mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input 
            type="password" 
            id="password" 
            class="form-control" 
            formControlName="password" 
            placeholder="Ingresa tu contraseña">
          <p 
            class="text-danger" 
            *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
            <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</small>
        </div>
  
        <!-- Botón de Ingreso -->
        <button type="submit" class="btn btn-primary w-100 btn-pink">Ingresar</button>
      </form>
    </div>
  </div>