<div class="container mt-5">

    <!-- <img src="/assets/img/abeja_const.png" alt="" width="100%"> -->

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="blog-title mb-0">
            <a (click)="irAStore()" class="text-decoration-none">Store</a>
        </h2>

        <div class="cart-icon position-relative mb-0" (click)="irAlCarrito()" style="cursor: pointer;margin-top: 40px;margin-right:0ch;">
            <i class="bi bi-cart3" style="font-size: 1.5rem;"></i>
            <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">
                {{ cartCount }}
            </span>
        </div>
    </div>


  
    
    <!-- Barra de categorías -->
    <div class="menu-wrapper">
        <button class="scroll-btn left" (click)="scrollLeft()" aria-label="Scroll categories left">‹</button>

        <div class="menu-scroll" #scrollContainer>
            <div
                *ngFor="let option of categorias"
                class="menu-item"
                (keypress)="seleccionarCategoria(option.id, option.name)"
                (click)="seleccionarCategoria(option.id, option.name)"
                tabindex="0">
                {{ option.name }}
            </div>
        </div>

        <button class="scroll-btn right" (click)="scrollRight()" aria-label="Scroll categories right">›</button>
    </div>

    <!-- Miga de pan -->
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a (click)="irAStore()">Store</a>
            </li>
            <li class="breadcrumb-item" *ngIf="categoriaSeleccionada">
                Categories
            </li>
            <li
                class="breadcrumb-item active"
                *ngIf="subcategoriaSeleccionada"
                aria-current="page"
            >
                SubCategories
            </li>
        </ol>
    </nav>

    <!-- Dropdowns de filtro -->
    <div class="d-flex justify-content-between align-items-center mb-4">

        
        <div class="dropdown" *ngIf="subcategorias.length">
            <button class="btn btn-secondary dropdown-toggle" type="button" (click)="toggleSubcatDropdown()" data-bs-toggle="dropdown">
            Subcategoría: {{ subcategoriaSeleccionadaNombre }}
            </button>
            <div class="dropdown-menu show" *ngIf="mostrarSubcat">
                <button class="dropdown-item" *ngFor="let sub of subcategorias" (click)="seleccionarSubcategoria(sub.id)">
                    {{ sub.name }}
                </button>
            </div>
        </div>

        
        <div class="dropdown ms-auto position-relative">
            <button
                class="btn btn-outline-primary"
                (click)="mostrarOrdenar = !mostrarOrdenar"
            >
                Order by
            </button>

            <ul
                class="dropdown-menu dropdown-menu-end show"
                *ngIf="mostrarOrdenar"
                style="display: block; position: absolute; top: 100%; right: 0;"
            >
                <li>
                <button class="dropdown-item d-flex align-items-center" (click)="ordenarPor('precio')">
                    <input
                    class="form-check-input me-2"
                    type="checkbox"
                    [checked]="criterioOrden === 'precio'"
                    readonly
                    />
                    Precio
                </button>
                </li>
                <li>
                <button class="dropdown-item d-flex align-items-center" (click)="ordenarPor('nombre')">
                    <input
                    class="form-check-input me-2"
                    type="checkbox"
                    [checked]="criterioOrden === 'nombre'"
                    readonly
                    />
                    Nombre
                </button>
                </li>
            </ul>
        </div>


    </div>


    <!-- Lista de productos -->
    <div class="row">
        <div class="col-md-3 mb-3" *ngFor="let producto of productosPaginados" 
                (click)="verDetalleProducto(producto)"
                (keypress)="verDetalleProducto(producto)"
                style="cursor: pointer;">
            <div class="card h-100 position-relative">

                
                <div id="carousel-{{ producto.id_product }}" class="carousel slide" data-bs-ride="carousel"
                    (click)="$event.stopPropagation()" (keypress)="$event.stopPropagation()">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img [src]="'https://abstractbeezzz.com/back/' + producto.image_1_url"
                                class="d-block w-100"
                                [alt]="producto.description"
                                height="200px">
                        </div>
                        <div class="carousel-item" *ngIf="producto.image_2_url">
                            <img [src]="'https://abstractbeezzz.com/back/' + producto.image_2_url"
                                class="d-block w-100"
                                [alt]="producto.description"
                                height="200px">
                        </div>
                        <div class="carousel-item" *ngIf="producto.image_3_url">
                            <img [src]="'https://abstractbeezzz.com/back/' + producto.image_3_url"
                                class="d-block w-100"
                                [alt]="producto.description"
                                height="200px">
                        </div>
                    </div>

                    <div class="carousel-indicators d-flex justify-content-center mb-2">
                    <button type="button" [attr.data-bs-target]="'#carousel-' + producto.id_product"
                            data-bs-slide-to="0" class="active" (click)="$event.stopPropagation()"></button>
                    <button type="button" [attr.data-bs-target]="'#carousel-' + producto.id_product"
                            data-bs-slide-to="1" *ngIf="producto.image_2_url" (click)="$event.stopPropagation()"></button>
                    <button type="button" [attr.data-bs-target]="'#carousel-' + producto.id_product"
                            data-bs-slide-to="2" *ngIf="producto.image_3_url" (click)="$event.stopPropagation()"></button>
                    </div>

                    
                    <button class="carousel-control-prev" type="button"
                            [attr.data-bs-target]="'#carousel-' + producto.id_product"
                            data-bs-slide="prev" (click)="$event.stopPropagation()">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                            [attr.data-bs-target]="'#carousel-' + producto.id_product"
                            data-bs-slide="next" (click)="$event.stopPropagation()">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>

                
                <div class="category-tag">
                    {{ producto.CategoryName }}
                </div>

                <div class="card-body">
                    <h5 class="card-title"><b>{{ producto.name }}</b></h5>
                    <p class="card-text">Price: ${{ producto.price }}</p>
                </div>
            </div>
        </div>
    </div>





    <!-- Paginación -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="paginaActual === 1">
            <button class="page-link" (click)="cambiarPagina(paginaActual - 1)">Anterior</button>
        </li>

        <li class="page-item" *ngFor="let pagina of paginas" [class.active]="pagina === paginaActual">
            <button class="page-link" (click)="cambiarPagina(pagina)">{{ pagina }}</button>
        </li>

        <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
            <button class="page-link" (click)="cambiarPagina(paginaActual + 1)">Siguiente</button>
        </li>
        </ul>
    </nav>

</div>

