<div class="container mt-5">
    <!-- Título del Blog -->
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h1 class="blog-title">{{ selectedBlog.title }}</h1>
        <p class="text-muted">Publiched: {{ selectedBlog.date | date: 'dd/MM/yyyy' }}</p>
      </div>
    </div>
  
    <!-- Imagen destacada -->
    <div class="row mb-4">
      <div class="col-12">
        <img
          [src]="selectedBlog.image"
          alt="Imagen del Blog"
          class="img-fluid rounded shadow"
        />
      </div>
    </div>
  
    <!-- Contenido del Blog -->
    <div class="row">
      <div class="col-12">
        <div class="blog-content" [innerHTML]="selectedBlog.content">
            
        </div>
      </div>
    </div>
  
    <!-- Botón para regresar -->
    <div class="row mt-5">
      <div class="col-12 text-center">
        <button class="btn btn-pink" (click)="goBack()">Regresar a Blogs</button>
      </div>
    </div>
  </div>
  <br><br>