<div class="container mt-5" *ngIf="selectedBlog">
    <!-- Título del Blog -->
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h1 class="blog-title">{{ selectedBlog.title }}</h1>
        <p class="text-muted">Publiched: {{ selectedBlog.created_at | date: 'dd/MM/yyyy' }}</p>
      </div>
    </div>
  
    <!-- Imagen destacada -->
    <div class="row mb-4">
      <div class="col-12">
        <img src="https://www.abstractbeezzz.com/back/{{ selectedBlog.image }}" class="card-img-top blog-image" alt="Imagen Blog">
      </div>
    </div>
  
    <!-- Contenido del Blog -->
    <div class="row">
      <div class="col-12">
        <div class="blog-content" [innerHTML]="safeDescription">
            
        </div>
      </div>
    </div>
  
    <!-- Botón para regresar -->
    <div class="row mt-5">
      <div class="col-12 text-center">
        <button class="btn btn-pink" (click)="goBack()">Return to blogs</button>
      </div>
    </div>
  </div>
  <br><br>