<div class="container-fluid mt-4">
    <div class=" justify-content-between mb-3 text-end">
        <!-- Botón de añadir (icono de +) -->
        <button class="btn btn-success" (click)="add()">
            <i class="fas fa-plus"></i> Add
        </button>
    </div>


    <table class="table table-bordered w-100">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created Date</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of blogs">
                <td>{{item.title}}</td>
                <td> {{item.description.slice(0 ,60) }} </td>
                <td> {{item.image }} </td>
                <td> {{item.created_at }} </td>
                <td>
                    <!-- Botón Editar con margen derecho -->
                    <button class="btn btn-warning btn-sm me-2" (click)="edit(item)">
                        <i class="fas fa-edit"></i> Edit
                    </button>
                    <!-- Botón Eliminar -->
                    <button class="btn btn-danger btn-sm" (click)="changeStatus(item.id)">
                        <i class="fas fa-trash-alt" ></i> Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

   <!-- Modal-form -->

   <div [ngClass]="{'modal fade': !isModalOpen, 'modal show': isModalOpen}" tabindex="-1" style="display: block;" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{action}} Task</h5>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmit()" [formGroup]="blogForm" >
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input 
                            type="text" 
                            id="title" 
                            class="form-control" 
                            formControlName="title" 
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea 
                        id="description" 
                        class="form-control" 
                        formControlName="description"  
                        required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="image">Image</label>
                        <input
                          id="image"
                          type="file"
                          class="form-control"
                          (change)="onImageSelected($event)"
                        />
                        <div *ngIf="blogForm.controls['image'].invalid && blogForm.controls['image'].touched" class="text-danger">
                          Image is required.
                        </div>
                    </div>
                  
                    <div *ngIf="imageUrl">
                        <h5>Image Preview:</h5>
                        <img 
                            [src]="imageUrl" 
                            alt="Image preview" 
                            width="100" 
                            height="100" />
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

 

</div>
