<div class="container-fluid mt-4">
    <div class=" justify-content-between mb-3 text-end">
        <!-- Botón de añadir (icono de +) -->
        <button class="btn btn-success" (click)="add()">
            <i class="fas fa-plus"></i> Add
        </button>
    </div>

    <table class="table table-bordered w-100">
        <thead class="table-danger">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created Date</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of blogs">
                <td>{{item.title}}</td>
                <td> {{item.description.slice(0 ,60) }} </td>
                <td> {{item.image }} </td>
                <td> {{item.created_at }} </td>
                <td>
                    <!-- Botón Editar con margen derecho -->
                    <button 
                        class="btn btn-warning btn-sm me-2" 
                        data-toggle="tooltip" 
                        title="Edit" 
                        (click)="edit(item)">
                        <i class="bi bi-pen"></i>
                    </button>
                    <button 
                        class="btn btn-info btn-sm me-2" 
                        data-toggle="tooltip" 
                        title="Edit Image" 
                        (click)="editImage(item)">
                        <i class="bi bi-camera-fill"></i> 
                    </button>
                    <!-- Botón Eliminar -->
                    <button 
                        class="btn btn-danger btn-sm" 
                        data-toggle="tooltip" 
                        title="Delete" 
                        (click)="changeStatus(item.id)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

   <!-- Modal-form -->

<div 
    [ngClass]="{'modal fade': !isModalOpen, 'modal show': isModalOpen}" 
    tabindex="-1" 
    style="display: block;" 
    aria-labelledby="exampleModalLabel" 
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{action}} Task</h5>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onSubmit()" [formGroup]="blogForm" >
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input 
                            type="text" 
                            id="title" 
                            class="form-control" 
                            formControlName="title" 
                            required>
                        <div 
                            *ngIf="blogForm.controls['title'].invalid && blogForm.controls['title'].touched" 
                            class="text-danger">
                          Title is required.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <editor
                            [init]="init"
                            apiKey="86c6de4134iz0od6d2h6x2i9dxxdb0eynpylvvpk99h8qpzv"
                            formControlName="description"
                        />
                        <div 
                            *ngIf="blogForm.controls['description'].invalid && blogForm.controls['description'].touched" 
                            class="text-danger">
                          Textarea is required.
                        </div>
                    </div>
                    <div class="form-group" *ngIf="action == 'New'">
                        <label for="image">Image</label>
                        <input
                          id="image"
                          type="file"
                          class="form-control"
                          #fileInput
                          (change)="onImageSelected($event)"
                        />
                        <div 
                            *ngIf="blogForm.controls['image'].invalid && blogForm.controls['image'].touched" 
                            class="text-danger">
                          Image is required.
                        </div>
                    </div>
                  
                    <div *ngIf="action != 'Edit' && imageUrl != ''">
                        <h5>Image Preview:</h5>
                        <img 
                            [src]="imageUrl" 
                            alt="Image preview" 
                            width="100" 
                            height="100" />
                    </div>
                    <br>

                    <button 
                        type="submit" 
                        class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

 

</div>

<div 
    [ngClass]="{'modal fade': !isModalImageOpen, 'modal show': isModalImageOpen}" 
    tabindex="-1" 
    style="display: block;" 
    aria-labelledby="exampleModalLabel" 
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{action}} Edit Image</h5>
                <button type="button" class="btn-close" (click)="closeModalImage()"></button>
            </div>
            <div class="modal-body">
                <h5>Image Preview:</h5>
                <img 
                    [src]="imageUrlEdit" 
                    alt="Image preview" 
                    width="100" 
                    height="100" />
                <div class="form-group" >
                    <label for="image">Image</label>
                    <input
                        id="image"
                        type="file"
                        class="form-control"
                        #fileInput
                        (change)="onImageSelectedUpdate($event)"
                        accept=".jpg,.jpeg,.png,.gif"
                    />
                    <div 
                        *ngIf="blogForm.controls['image'].invalid && blogForm.controls['image'].touched" 
                        class="text-danger">
                        Image is required.
                    </div>
                </div>
                <br>
                <button 
                    type="button"
                    (click)="editImageForm()" 
                    class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>