<head>
    <meta charset="utf-8">
    <link rel="canonical" href="https://www.abstractbeezzz.com/about-us" /> 
</head>


<div class="container">
    <div class="row ">
       
        <div class="col-md-12 col-12 col-lg-8">
            <div class="col-12">
                <div class="tarjet" >
                    <div class="card__information ">
                      <div class="container card__information__container">
                        <div class="row justify-content-center card__information__container__row " >
                          
                          <div class="col-12 pink-color card__information__container__row__text text-center" style="text-align: center;">
                            <img 
                            class="card__information__img" 
                            src="assets/img/bee.png" 
                            alt="Abstract Beezzz, experts in live honey bee removal and relocation services, ensuring the safety of bees and your property" 
                            title="Logo of Abstract Beezzz Live Honey Bee Removal and relocation.">
                            <h2><span style="font-size: 20px;">OUR MISSION </span></h2>
                            
                            <img  style="margin-left: 0px;"
                              class="card__information__img" 
                              src="assets/img/bee_2.png" 
                              alt="Abstract Beezzz, experts in live honey bee removal and relocation services, ensuring the safety of bees and your property" 
                              title="Logo of Abstract Beezzz Live Honey Bee Removal and relocation.">
                          </div>

                          <p class="text-center text-justify-center " style="font-size: 20px;">
                            We work diligently to keep our community safe and calm by carefully removing and relocating live Honey bees to a local apiary. By providing them with a new home, we give these bees the chance to thrive and continue their vital role in our ecosystem, contributing to a healthier planet for future generations. Our commitment is to protect both you and the bees.

                          </p>
                        </div>
                      </div>                 
                        
                    </div> 
                </div>                      

            </div>
            <br>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <br>
                    <h3 class="pink-color text-center text-justify-center">
                        We are registered beekeepers with the Florida Department of Agriculture
                    </h3>
                    <div class="img ">
                        <img class="img__florida" src="assets/img/FDACS.svg" title="Florida Department of Agriculture and costumer and services" alt="Logo of the Florida Department of Agriculture, symbolizing regulation and support for safe honey bee removal and beekeeping.">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <br>
                    <h2 class="pink-color text-center text-justify-center">
                        Who we are?
                    </h2>
                    <p>
                        We have been part of this community for over 15 years, working on live Honey bee removal for several years, dedicated to serving you while protecting the bees.
                    </p>
                    <p>
                        Our expertise extends beyond bee removal; with 20 years of construction experience, we use our knowledge of materials like wood, concrete, and steel to ensure the safe removal of bees while preserving the integrity of your property.
                    </p>
                    <p>
                        Our gardening experience has also given us a deep appreciation for the vital role bees play in our environment. This awareness drives our commitment to always finding ways to save them.
                    </p>
                    <p>
                        We are registered and insured, equipped with the necessary tools for safe and effective bee removal.
                    </p>
                </div>
                <div class="col-12">
                    <h3 class="pink-color text-center text-justify-center">
                        We are proud member of the Florida and local Beekeepers Associations
                       
                    </h3>
                    <div class="img_pc">
                        <div class="img">
                            <img class="img__association" src="assets/img/florida_beekeepers_association.png" title="Florida Beekeepers Associations" alt="Logo of Florida Beekeepers Association, supporting ethical beekeeping and providing resources for beekeepers in Florida">
                        
                        </div>
                    </div>
                    <br>
                    <div class="img ">
                        <img class="img__association__cell" src="assets/img/florida_beekeepers_association_.png" title="Florida Beekeepers Associations" alt="Logo of Florida Beekeepers Association, supporting ethical beekeeping and providing resources for beekeepers in Florida">
                    
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-12 col-lg-4">
            <div class="information">
                <app-information></app-information>
            </div>
        </div>
    </div>
</div>
