<div class="container">
    <div class="row ">
       
        <div class="col-md-12 col-12 col-lg-8">
            <div class="col-12">
                <div class="tarjet" >
                    <div class="card__information ">
                      <div class="container card__information__container">
                        <div class="row justify-content-center card__information__container__row " >
                          
                          <div class="col-12 pink-color card__information__container__row__text text-center" style="text-align: center;">
                            <img 
                            class="card__information__img" 
                            src="assets/img/bee.png" 
                            alt="abastract beezzz logo">
                            <span style="font-size: 20px;">OUR MISSION </span>
                            <img  style="margin-left: 0px;"
                              class="card__information__img" 
                              src="assets/img/bee_2.png" 
                              alt="abastract beezzz logo">
                          </div>

                          <p class="text-center text-justify-center " style="font-size: 20px;">
                            We work diligently to keep our community safe and calm by carefully removing and relocating live Honey bees to a local apiary. By providing them with a new home, we give these bees the chance to thrive and continue their vital role in our ecosystem, contributing to a healthier planet for future generations. Our commitment is to protect both you and the bees.

                          </p>
                        </div>
                      </div>                 
                        
                    </div> 
                </div>                      

            </div>
            <br>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <br>
                    <p class="pink-color text-center text-justify-center">
                        We are registered beekeepers with the Florida Department of Agriculture
                    </p>
                    <div class="img ">
                        <img class="img__florida" src="assets/img/florida.svg" alt="Bee Image 1">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <br>
                    <p class="pink-color text-center text-justify-center">
                        WHO WE ARE?
                    </p>
                    <p>
                        We have been part of this community for over 15 years, working on live Honey bee removal for several years, dedicated to serving you while protecting the bees.
                    </p>
                    <p>
                        Our expertise extends beyond bee removal; with 20 years of construction experience, we use our knowledge of materials like wood, concrete, and steel to ensure the safe removal of bees while preserving the integrity of your property.
                    </p>
                    <p>
                        Our gardening experience has also given us a deep appreciation for the vital role bees play in our environment. This awareness drives our commitment to always finding ways to save them.
                    </p>
                    <p>
                        We are registered and insured, equipped with the necessary tools for safe and effective bee removal.
                    </p>
                </div>
                <div class="col-12">
                    <p class="pink-color text-center text-justify-center">
                        We are proud member of the Florida and local Beekeepers Associations
                       
                    </p>
                    <div class="img_pc">
                        <div class="img">
                            <img class="img__association" src="assets/img/association.png" alt="Bee Image 1">
                        
                        </div>
                    </div>
                    <br>
                    <div class="img ">
                        <img class="img__association__cell" src="assets/img/association__cell.png" alt="Bee Image 1">
                    
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-12 col-lg-4">
            <div class="information">
                <app-information></app-information>
            </div>
        </div>
    </div>
</div>
