<nav>
    <div class="menu container ">
        <div class="menu__menu ">
         <ul class="menu__menu__ul" (click)="scrollbarTop()" >
            <li 
                class="menu__menu__ul__li" 
                routerLink="/about-us"
                routerLinkActive="active-link" 
                (click)="scrollbarTop()" >About Us</li>
             <li 
                class="menu__menu__ul__li" 
                routerLink="/services" 
                (click)="scrollbarTop()"
                routerLinkActive="active-link" >Services</li>
            <li 
                class="menu__menu__ul__li" 
                routerLink="/store"
                routerLinkActive="active-link" 
                (click)="scrollbarTop()" >Store</li>
             <li 
                class="menu__menu__ul__li" 
                routerLink="/contact"
                (click)="scrollbarTop()"
                routerLinkActive="active-link" >Contact Us</li>
             <li 
                class="menu__menu__ul__li" 
                routerLink="/gallery" 
                (click)="scrollbarTop()"
                routerLinkActive="active-link" >Gallery</li>
             <li 
                class="menu__menu__ul__li" 
                routerLink="/blogs" 
                routerLinkActive="active-link" 
                (click)="scrollbarTop()">Blogs</li> 
         </ul>
        </div>
    </div>

    <div class="menu__menu__movil">
        <button class="menu__menu__movil__botton rounded "(click)="toggleMenu()">
            Menu
        </button>
        <div *ngIf="menuOpen" >
            <ul class="menu__menu__movil__ul" (click)="scrollbarTop()" >
                <li class="menu__menu__movil__ul__li" routerLink="/about-us" (click)="toggleMenu()" (click)="scrollbarTop()">About Us</li>
                <li class="menu__menu__movil__ul__li" routerLink="/services" (click)="toggleMenu()"(click)="scrollbarTop()" >Services</li>
                <li class="menu__menu__movil__ul__li" routerLink="/store" (click)="toggleMenu()" (click)="scrollbarTop()">Store</li>
                <li class="menu__menu__movil__ul__li" routerLink="/contact" (click)="toggleMenu()" (click)="scrollbarTop()">Contact Us</li>
                <li class="menu__menu__movil__ul__li" routerLink="/gallery" (click)="toggleMenu()" (click)="scrollbarTop()">Gallery</li>
                <li class="menu__menu__movil__ul__li" routerLink="/blogs" (click)="toggleMenu()" (click)="scrollbarTop()">Blogs</li>
            </ul>
        </div>
    </div>
  
</nav>