<!-- <div class="container mt-5">
  <h2 class="mb-4 blog-title">Gallery</h2>


  <div class="gallery">
    <div class="hexagon-container">
      <div class="hexagon top" (click)="openModal('/assets/img/gallery6.jpg')">
        <div class="inner-border" style="background-image: url('/assets/img/gallery6.jpg');"></div>
      </div>
      <div class="hexagon top" (click)="openModal('/assets/img/1.jpg')">
        <div class="inner-border" style="background-image: url('/assets/img/1.jpg');"></div>
      </div>
      <div class="hexagon top" (click)="openModal('/assets/img/3.jpg')">
        <div class="inner-border" style="background-image: url('/assets/img/3.jpg');"></div>
      </div>
    </div>

    <div class="hexagon-container">
      <div class="hexagon top" (click)="openModal('/assets/img/gallery6.jpg')">
        <div class="inner-border" style="background-image: url('/assets/img/gallery6.jpg');"></div>
      </div>
      <div class="hexagon top" (click)="openModal('/assets/img/1.jpg')">
        <div class="inner-border" style="background-image: url('/assets/img/1.jpg');"></div>
      </div>
      
    </div>
  </div>


</div> -->
