.blog-title {
  margin-top: 40px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #FE007E;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hexagon-container {
  display: flex;
  justify-content: center;
}

.hexagon {
  width: 300px;
  height: 300px;
  background-color: #f4ea7b;
  position: relative;
  display: inline-block;
  margin: 0 -2px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

}

/* Borde exterior */
.hexagon::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background-color: transparent;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  pointer-events: none;
}

/* Borde interno (nuevo div dentro de cada hexágono) */
.inner-border {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: transparent; /* No se ve, solo actúa como un contenedor para el borde */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

  pointer-events: none;
  background-size: cover;
  background-position: center;
}

.top {
  margin: 10px;
}

.top2 {
  margin-top: -60px;
}

.bottom {
  margin: 10px;
  margin-top: -60px;
}