<div class="container mt-5">
  <h2 class="mb-4 blog-title">Gallery</h2>

  <!-- Galería de imágenes en hexágonos -->
  <div class="gallery">
    <div class="hexagon-container">
      <div class="hexagon top" (click)="openModal('/assets/img/gallery6.jpg')">
        <div class="inner-border" style="background-image: url('/assets/img/gallery6.jpg');"></div>
      </div>
      <div class="hexagon top" (click)="openModal('/assets/img/1.jpg')">
        <div class="inner-border" style="background-image: url('/assets/img/1.jpg');"></div>
      </div>
      <div class="hexagon top" (click)="openModal('/assets/img/3.jpg')">
        <div class="inner-border" style="background-image: url('/assets/img/3.jpg');"></div>
      </div>
    </div>
    <!-- Aquí van más hexágonos si es necesario -->
  </div>

  <!-- Modal para mostrar imagen en tamaño completo -->
  <div class="modal" *ngIf="currentImageIndex !== -1" (click)="closeModal()">
    <div class="modal-overlay" (click)="closeModal()"></div> <!-- Capa de superposición -->
    <div class="modal-dialog">
      <!-- Botón de cerrar (X) -->
      <button class="close-btn" (click)="closeModal()">X</button>

      <div class="modal-body">
        <!-- Imagen en el modal -->
        <img [src]="modalImageUrl" alt="Imagen grande" class="img-fluid">
      </div>

      <!-- Controles para pasar a la siguiente o anterior imagen -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="prevImage()">Anterior</button>
        <button type="button" class="btn btn-secondary" (click)="nextImage()">Siguiente</button>
      </div>
    </div>
  </div>
</div>
