<div class="container">

        <div class="banner">
            <div class="banner__banner">
                <div 
                    class="banner__banner__overlay"
                    [style.background-image]="'url(' + bannerImage + ')'">
                </div>
                <div class="banner__banner__text">
                  
                        <h1 class="banner__banner__text__h1 pink-color">"In a world where every small life matters, bees are the quiet heroes that sustain our planet. With their delicate wings, they carry the future of our forests, fields, and flowers, whispering the language of life with every pollination. We depend on them more than we realize. Rather than harm, let us cherish and protect these gentle pollinators. The world would be far less vibrant without their hum. Choose kindness and let the bees live. In the end, when bees thrive, we all thrive”
                        </h1>
                    </div>
                
            </div>
        </div>
        <br>
        
    </div>
